.load-intercepted-response-container {
	@include margins
	clear: both;

	.load-response {
		@include link-buttons;
		@include mono-space;
		float: right;
		width: calc(33.08% / 2);

		margin-top: 6px;
		margin-right: 0px;
		border-color: $violet;
		text-decoration: none;
		text-align: center;
		&:hover {
			color: $violet;
			border-color: $violet;
		}
	}
}
.intercepted-response-container {
	@include margins
	@include reveal

	position: relative;
	margin-top: 12px;
  padding: .75em;

  border: 1px solid $base02;

	.edit-body { /* edit pre */
		position: absolute;
		top: .5em;
		right: .5em;

		.edit-intercepted-response {
			@include buttons-nav-edit
			&:hover {
				border-color: $violet;
				color: $violet;
			}
		}
	}
	.img-container {
		text-align: center;
	}
	.no-body-content {
		margin-top: .5em;
		padding-top: .5em;
		@include mono-space
		font-size: 14px;
		text-align: center;
		color: $base0;
	}

	.ace_editor {
		height: 100%;
		.ace_scroller {
			width: 94%; /* clears scroll bar */
 			.ace_content {

				.ace_layer {

					.ace_print-margin {
						display: none;
					}
				}
			}
		}
	}
	.editing-intercepted-response-container {

		@include reveal

    width: 100%;
    height: 50%;

		.editing-intercepted-response {
			padding: 1em;
			border: 1px solid $base02;

	 	  box-shadow: 3px 3px 9px #002129;

			.editing-buttons-container {
				margin: 0px 0px .75em;
				float: right;

				.update-intercepted-response{
					@include buttons-nav-edit

					&:hover {
						border-color: $green;
						color: $green;
					}
				}

				.cancel-intercepted-response{
					@include buttons-nav-edit
					margin-right: 2px;
					&:hover {
						border-color: $yellow;
						color: $yellow;
					}
				}
			}

			.intercepted-response-text {

				@include mono-space
			  @include inputBox

		    width: 100%;
		    padding: .75em;
		    min-height: 100px;
		    background-color: $base2;

				&:focus {
					background-color: $base3;
					color: $base00;
				}
		  }
		}
	}

	pre.intercepted-response-content { /* display of the body */

		min-height: 100px;
		max-height: 300px;
		overflow: auto;
		padding: .75em;
		border: 1px solid $base02;
		color: $base0;
	}
}
