{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<section class="hero">
	<div class="step-by-step-top container">
		<h1>About</h1>
		<p>Something about debugProxy.</p>
	</div>
</section>
<div class="home-body container step-by-step">
	<h2>About info to follow</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<h3>min height 400px in file</h3>
</div>
{% include "common/_footer.html" %}
{% endblock %}