{% extends 'flask_user/public_base.html' %}

{% block content %}

<p>
Shortly you should receive and email from debugProxy with a confirmation link
to verify your email address and complete the registration.
</p>

<p>
If you don&rsquo;t receive an email within a few minutes, please check your spam
folder.
</p>

<p>
If the confirmation link has expired, you can use the change password function
to confirm your account.
</p>

<p>
If your still experancing difficulties confirming your account please email us
at:
</p>
</p>
<a href="mailto:hello@debugproxy.tarnbarford.net" target="_top">hello@debugproxy.tarnbarford.net</a>
</p>

{% endblock %}
