{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<section class="hero">
	<div class="step-by-step-top container slab-of-text">
		<h1>Privacy Policy</h1>
		<p></p>
	</div>
</section>
<div class="home-body container step-by-step slab-of-text">
    <p>
    <strong>Privacy Policy</strong>
    <p>
    We only store your data needed to operate the service, the data is only
    used to operate the service and it can be permanently deleted at anytime.
    </p>
    <p> 
    Data sent through the proxy service is automatically permanently deleted
    within 30 minutes.
    </p>
    <p>
    Your account and all associated data on debugproxy.tarnbarford.net can be permanently
    deleted at any time from the settings page.
    </p>
</div>
{% include "common/_footer.html" %}
{% endblock %}
